<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.tformacion.helloworld">

    <application android:allowBackup="true"
                 android:label="@string/app_name">
        <activity
                android:theme="@android:style/Theme.Holo.Light"
                android:name="es.tformacion.helloworld.HelloWorldMain"
                android:label="@string/app_name">

            <intent-filter>
                <action android:name="es.tformacion.helloworld.HelloWorldMain"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
                android:theme="@android:style/Theme.Holo.Light"
                android:name="es.tformacion.helloworld.DisplayMessageActivity"
                android:label="@string/app_name">
        </activity>
    </application>

</manifest>
