<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tformacion.recivingsimpledata"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="com.tformacion.recivingsimpledata.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- Aquí se declara la acción a la que será capaz ésta
                actividad de responder.  -->
                <action android:name="android.intent.action.SEND" />

                <!-- Es la mayoría de los casos deberá ser DEFAULT. Es obligatorio
                ponerlo ya que todos los intents implícitos llevarán ésta categoría.
                
                De no ponerlo, nuestra actividad nunca será considerada. -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Tipo de dato que la aplicación podrá recibir -->
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>